<div>
    <h2 id="page-heading">
        <div class="container">
            <span>Domicílios</span>
            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-domicilio" (click)="exportAsXLSX()">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span>
                    Exportar Para Excel
                </span>
            </button>
        </div>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="container">
        <div class="row">
            <div class="form-group col-md-3">
                <label>Ligação domiciliar de água</label>
                <select name="necessitaAgua" class="custom-select" [(ngModel)]="necessitaAgua" (change)="loadAll()">
                    <option value="null"></option>
                    <option value="true">Necessário</option>
                    <option value="false">Não Necessário</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label>Poço</label>
                <select name="poco" class="custom-select" [(ngModel)]="poco" (change)="loadAll()">
                    <option value="null"></option>
                    <option value="true">Necessário</option>
                    <option value="false">Não Necessário</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label>Cisterna</label>
                <select name="cisterna" class="custom-select" [(ngModel)]="cisterna" (change)="loadAll()">
                    <option value="null"></option>
                    <option value="true">Necessário</option>
                    <option value="false">Não Necessário</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label>Reservatório Elevado</label>
                <select name="reservatorioElevado" class="custom-select" [(ngModel)]="reservatorioElevado" (change)="loadAll()">
                    <option value="null"></option>
                    <option value="true">Necessário</option>
                    <option value="false">Não Necessário</option>
                </select>
            </div>

            <div class="form-group col-md-3">
                <label>Reservatório SemiElevado</label>
                <select name="reservatorioElevado" class="custom-select" [(ngModel)]="reservatorioSemiElevado" (change)="loadAll()">
                    <option value="null"></option>
                    <option value="true">Necessário</option>
                    <option value="false">Não Necessário</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label>Conjunto Sanitário</label>
                <select name="reservatorioElevado" class="custom-select" [(ngModel)]="conjuntoSanitario" (change)="loadAll()">
                    <option value="null"></option>
                    <option value="true">Necessário</option>
                    <option value="false">Não Necessário</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label>Pia da Cozinha</label>
                <select name="reservatorioElevado" class="custom-select" [(ngModel)]="piaCozinha" (change)="loadAll()">
                    <option value="null"></option>
                    <option value="true">Necessário</option>
                    <option value="false">Não Necessário</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label>Tanque de Lavar Roupa</label>
                <select name="reservatorioElevado" class="custom-select" [(ngModel)]="tanqueLavarRoupa" (change)="loadAll()">
                    <option value="null"></option>
                    <option value="true">Necessário</option>
                    <option value="false">Não Necessário</option>
                </select>
            </div>

            <div class="form-group col-md-3">
                <label>Filtro Doméstico</label>
                <select name="filtroDomestico" class="custom-select" [(ngModel)]="filtroDomestico" (change)="loadAll()">
                    <option value="null"></option>
                    <option value="true">Necessário</option>
                    <option value="false">Não Necessário</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label>Tanque Séptico</label>
                <select name="tanqueSeptico" class="custom-select" [(ngModel)]="tanqueSeptico" (change)="loadAll()">
                    <option value="null"></option>
                    <option value="true">Necessário</option>
                    <option value="false">Não Necessário</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label>Sumidouro</label>
                <select name="sumidouro" class="custom-select" [(ngModel)]="sumidouro" (change)="loadAll()">
                    <option value="null"></option>
                    <option value="true">Necessário</option>
                    <option value="false">Não Necessário</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label>Vala de Infiltração</label>
                <select name="valaInfiltracao" class="custom-select" [(ngModel)]="valaInfiltracao" (change)="loadAll()">
                    <option value="null"></option>
                    <option value="true">Necessário</option>
                    <option value="false">Não Necessário</option>
                </select>
            </div>

            <div class="form-group col-md-3">
                <label>Sistema de Reuso</label>
                <select name="sistemaReuso" class="custom-select" [(ngModel)]="sistemaReuso" (change)="loadAll()">
                    <option value="null"></option>
                    <option value="true">Necessário</option>
                    <option value="false">Não Necessário</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label>Ligação Domiciliar de Esgoto</label>
                <select name="ligacaoDomiciliarEsgoto" class="custom-select" [(ngModel)]="ligacaoDomiciliarEsgoto" (change)="loadAll()">
                    <option value="null"></option>
                    <option value="true">Necessário</option>
                    <option value="false">Não Necessário</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label>Recipiente de Resíduos Sólidos</label>
                <select name="recipenteResiduosSolidos" class="custom-select" [(ngModel)]="recipenteResiduosSolidos" (change)="loadAll()">
                    <option value="null"></option>
                    <option value="true">Necessário</option>
                    <option value="false">Não Necessário</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label>Levantamento</label>
                <select name="levantamentoConcluido" class="custom-select" [(ngModel)]="levantamentoConcluido" (change)="loadAll()">
                    <option value="null"></option>
                    <option value="true">ComIncompleto</option>
                </select>
            </div>
            <div class="col-md-12">pleto</option>
                    <option value="false">
                <div class="table-responsive" *ngIf="domicilios">
                        <table class="table table-striped">
                            <thead>
                            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="nomeMorador"><span>Nome do Morador</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="endereco"><span>Endereço</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="levantamentoConcluido"><span>Levantamento Concluído</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="dataCadastro"><span>Data de Cadastro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="userFirstName"><span>Usuário</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="localidade"><span>Localidade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let domicilio of domicilios ;trackBy: trackId">
                                <td><a [routerLink]="['/domicilio', domicilio.id, 'view' ]">{{domicilio.id}}</a></td>
                                <td>{{domicilio.nomeMorador}}</td>
                                <td>{{domicilio.endereco}}</td>
                                <td style="text-align: center;">
                                        <fa-icon [icon]="domicilio.levantamentoConcluido ? 'check' : 'times'" aria-hidden="true" class="{{ domicilio.levantamentoConcluido ? 'text-success' : 'text-danger'}}">
                                        </fa-icon>
                                </td>
                                <td>{{domicilio.dataCadastro | date:'mediumDate'}}</td>
                                <td>
                                    {{domicilio.userFirstName}}
                                </td>
                                <td>
                                    <div *ngIf="domicilio.localidadeId">
                                        <a [routerLink]="['../localidade', domicilio.localidadeId , 'view' ]" >{{domicilio.localidadeDescricao}}</a>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button type="submit"
                                                [routerLink]="['/domicilio', domicilio.id, 'view' ]"
                                                class="btn btn-info btn-sm">
                                            <fa-icon [icon]="'eye'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/domicilio', domicilio.id, 'edit']"
                                                class="btn btn-primary btn-sm">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/', 'domicilio', { outlets: { popup: domicilio.id + '/delete'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="domicilios && domicilios.length">
                        <div class="row justify-content-center">
                            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                        </div>
                        <div class="row justify-content-center">
                            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
