<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="domicilio">
            <h2><span jhiTranslate="sysleneApp.domicilio.detail.title">Domicilio</span> {{domicilio.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                            <label class="form-control-label" for="field_nomeMorador">Nome do Morador</label>
                            <input type="text" class="form-control" name="nomeMorador" id="field_nomeMorador"
                                   [(ngModel)]="domicilio.nomeMorador" readonly/>
                    </div>
                    <div class="col-md-5">
                            <label class="form-control-label" for="field_endereco">Endereço</label>
                            <input type="text" class="form-control" name="endereco" id="field_endereco"
                                   [(ngModel)]="domicilio.endereco" readonly/>
                    </div>
                    <div class="col-md-3">
                            <label class="form-control-label" for="field_numeroMoradores">Número de Moradores</label>
                            <input type="text" class="form-control"  id="field_numeroMoradores"
                                   [(ngModel)]="domicilio.numeroHabitantes" readonly/>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-6">
                                <label class="form-control-label">Data de Cadastro</label>
                                <input type="text" class="form-control"
                                       [(ngModel)]="domicilio.dataCadastro" readonly/>
                        </div>
                        <div class="col-md-6">
                                <label class="form-control-label">Data de Alteração</label>
                                <input type="text" class="form-control"
                                       [(ngModel)]="domicilio.dataAlteracao" readonly/>
                        </div>
                    
                </div>
                <div class="row">
                        <div class="col-md-4">
                                <label class="form-control-label">Cadastrado por</label>
                                <input type="text" class="form-control"
                                       [(ngModel)]="domicilio.userFirstName" readonly/>
                        </div>
                        <div class="col-md-4">
                                <label class="form-control-label">Status do Levantamento</label>
                                <input type="text" class="form-control"
                                       [(ngModel)]="domicilio.levantamentoConcluido" readonly/>
                        </div>
                        <div class="col-md-4">
                                <label class="form-control-label">Localidade</label>
                                <input type="text" class="form-control"
                                       [(ngModel)]="domicilio.localidadeDescricao" readonly/>
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-4">
                                <label class="form-control-label">Ligação domiciliar de Água</label>
                                <span class="badge" [ngClass]=" domicilio.ligacaoDomiciliarAgua ? 'badge-danger' : 'badge-success'">{{ domicilio.ligacaoDomiciliarAgua ? 'Necessita' : 'Não Necessita' }}</span>
                        </div>
                        <div class="col-md-4">
                                <label class="form-control-label">Poço</label>
                                <span class="badge" [ngClass]=" domicilio.poco ? 'badge-danger' : 'badge-success'">{{ domicilio.poco ? 'Necessita' : 'Não Necessita' }}</span>

                        </div>
                        <div class="col-md-4">
                                <label class="form-control-label">Cisterna</label>
                                <span class="badge" [ngClass]=" domicilio.cisterna ? 'badge-danger' : 'badge-success'">{{ domicilio.cisterna ? 'Necessita' : 'Não Necessita' }}</span>

                        </div>
                </div>
                <div class="row">
                        <div class="col-md-4">
                                <label class="form-control-label">Reservatório Elevado</label>
                                <span class="badge" [ngClass]=" domicilio.reservatorioElevado ? 'badge-danger' : 'badge-success'">{{ domicilio.reservatorioElevado ? 'Necessita' : 'Não Necessita' }}</span>

                        </div>
                        <div class="col-md-4">
                                <label class="form-control-label">Reservatório Semi Elevado</label>
                                <span class="badge" [ngClass]=" domicilio.reservatorioSemiElevado ? 'badge-danger' : 'badge-success'">{{ domicilio.reservatorioSemiElevado ? 'Necessita' : 'Não Necessita' }}</span>

                                       
                        </div>
                        <div class="col-md-4">
                                <label class="form-control-label">Conjunto Sanitário</label>
                                <span class="badge" [ngClass]=" domicilio.conjuntoSanitario ? 'badge-danger' : 'badge-success'">{{ domicilio.conjuntoSanitario ? 'Necessita' : 'Não Necessita' }}</span>

                        </div>
                </div>
                <div class="row">
                        <div class="col-md-4">
                                <label class="form-control-label">Pia na Cozinha</label>
                                <span class="badge" [ngClass]=" domicilio.piaCozinha ? 'badge-danger' : 'badge-success'">{{ domicilio.piaCozinha ? 'Necessita' : 'Não Necessita' }}</span>
                        </div>
                        <div class="col-md-4">
                                <label class="form-control-label"></label>Tanque para Lavar Roupa</label>
                                <span class="badge" [ngClass]=" domicilio.tanqueLavarRoupa ? 'badge-danger' : 'badge-success'">{{ domicilio.tanqueLavarRoupa ? 'Necessita' : 'Não Necessita' }}</span>
                        </div>
                        <div class="col-md-4">
                                <label class="form-control-label">Filtro Doméstico</label>
                                <span class="badge" [ngClass]=" domicilio.filtroDomestico ? 'badge-danger' : 'badge-success'">{{ domicilio.filtroDomestico ? 'Necessita' : 'Não Necessita' }}</span>        
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-4">
                                <label class="form-control-label">Tanque Séptico</label>
                                <span class="badge" [ngClass]=" domicilio.tanqueSeptico ? 'badge-danger' : 'badge-success'">{{ domicilio.tanqueSeptico ? 'Necessita' : 'Não Necessita' }}</span>

                        </div>
                        <div class="col-md-4">
                                <label class="form-control-label"></label>Sumidouro</label>
                                <span class="badge" [ngClass]=" domicilio.sumidouro ? 'badge-danger' : 'badge-success'">{{ domicilio.sumidouro ? 'Necessita' : 'Não Necessita' }}</span>

                        </div>
                        <div class="col-md-4">
                                <label class="form-control-label">Vala de Infiltração</label>
                                <span class="badge" [ngClass]=" domicilio.valaInfiltracao ? 'badge-danger' : 'badge-success'">{{ domicilio.valaInfiltracao ? 'Necessita' : 'Não Necessita' }}</span>

                        </div>
                </div>
                <div class="row">
                        <div class="col-md-4">
                                <label class="form-control-label">Sistema de Reuso</label>
                                <span class="badge" [ngClass]=" domicilio.sistemaReuso ? 'badge-danger' : 'badge-success'">{{ domicilio.sistemaReuso ? 'Necessita' : 'Não Necessita' }}</span>

                        </div>
                        <div class="col-md-4">
                                <label class="form-control-label"></label>Ligação Domiciliar de Esgoto</label>
                                <span class="badge" [ngClass]=" domicilio.ligacaoDomiciliarEsgoto ? 'badge-danger' : 'badge-success'">{{ domicilio.ligacaoDomiciliarEsgoto ? 'Necessita' : 'Não Necessita' }}</span>

                        </div>
                        <div class="col-md-4">
                                <label class="form-control-label">Recipiente de Resíduos Sólidos</label>
                                <span class="badge" [ngClass]=" domicilio.recipenteResiduosSolidos ? 'badge-danger' : 'badge-success'">{{ domicilio.recipenteResiduosSolidos ? 'Necessita' : 'Não Necessita' }}</span>

                        </div>
                </div>
            </div>
                <dt><span>Localização: </span></dt>
                <dd>      
                    <!-- this creates a google map on the page with the given lat/lng from -->
                    <!-- the component as the initial center of the map: -->
                    <agm-map [latitude]="toNumber(domicilio.latitude)" [longitude]="toNumber(domicilio.longitude)">
                            <agm-marker [latitude]="toNumber(domicilio.latitude)" [longitude]="toNumber(domicilio.longitude)"></agm-marker>
                    </agm-map>
                </dd>
            </dl>
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/domicilio', domicilio.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
